# macOS
.DS_Store

# custom
pfvs/c_kernels/*.c
PFVSTRINGS-*
*.png

# test artifacts
.pytest_cache/
.benchmarks/
.coverage
pfvs/c_kernels/testing_benchmarks/test_conipfv_kernel
pfvs/c_kernels/testing_benchmarks/test_pvec_kernel

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions and build artifacts
*.so
*.dylib
*.o
*.a
*.dSYM/

# Cython-generated C files
pfvs/conipfv_kernel/conipfv_kernel.c
pfvs/pfv_kernel/pfv_kernel.c

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints
