# custom
pfvs/c_kernels/*.c
PFVSTRINGS-*
enum


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# C / Cython build artifacts
*.so
*.pyd
*.dll
*.dylib
*.o
*.obj
*.a
*.lib

# Debug / IDE files
*.dSYM/

